 body{
            background-color: black;
            margin: 0;
        }

.titulo{
        text-align: center;
        font-size: 70px;
        margin-top: 50px;
}

.sub1{
        text-align: center;
        font-size: 50px;
}

.sub2{
    text-align: center;
    animation: none;
}

h1{
    color: #fff;
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #ff0000,
        0 0 80px #ff0000,
        0 0 160px #ff0000;

    animation: rainbowGlow 6s linear infinite;
}
.contenedores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
.contenedor{
    height: 500px;
    width: 20%;

    border: 2px solid #ff0000;
    box-shadow:
        /* exterior del div */
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px #ff0000,
        0 0 80px #ff0000,

        /* Interior */
        inset 0 0 10px #ff0000,
        inset 0 0 20px #ff0000,
        inset 0 0 40px #ff0000;

    animation: rainbowGlow 6s linear infinite;

}

img{
    margin-left: 5%;
    height: 300px;
    width: 90%;
    animation: none;
}

a{
    display: block;
    width: fit-content;
    margin: 20px auto;

    font-size: 50px;

    color: #fff;
    text-decoration: none;

    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #ff0000,
        0 0 80px #ff0000,
        0 0 160px #ff0000;

    transition-duration: 0.3s;
}

a:hover{
    display: block;
    width: fit-content;
    margin: 20px auto;

    font-size: 70px;

    color: #fff;
    text-decoration: none;

    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #ff0000,
        0 0 80px #ff0000,
        0 0 160px #ff0000;

    transition-duration: 0.3s;
}

@keyframes rainbowGlow {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}