body{
    background-image: url(../img/steve.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{color: red;
    margin-left: 30%;
    }

li{
    color: white;
}

a{
    color: white;
}